{% extends 'base.html.twig' %}

{% block title %}Memo expiré{% endblock %}

{% block body %}
    <h1>Contenu expiré</h1>

    <p>Désole, le mémo associé à cet URL n'est plus accessible</p>
{% endblock %}
